<!DOCTYPE html>
<html>
<body>
    <h1>Schedule</h1>
    <table border="1">
        <tr>
            <th>Title</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Location</th>
            <th>Description</th>
        </tr>

        {% for x in schedData %}
            <tr>
                <td>{{x.title}}</td>
                <td>{{x.startDate}}</td>
                <td>{{x.endDate}}</td>
                <td>{{x.location}}</td>
                <td>{{x.description}}</td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>